.spoiler {
  text-align: center;
  align-self: center;
  background-color: #f6f6f3;
  margin: 5px 2px;
  padding: 4px 10px;
  color: transparent;
  text-shadow: 0 0 5px rgb(0 0 0 / 30%);
  user-select: none;
  border-radius: 6px;
}

.unspoiled {
  text-align: center;
  align-self: center;
  background-color: #f6f6f3;
  margin: 5px 2px;
  padding: 4px 10px;
  color: black;
  text-shadow: 0 0 5px rgb(0 0 0 / 30%);
  user-select: none;
  border-radius: 6px;
}

.container-question__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-card {
  /*display: flex;
  flex-direction: column;*/
  border: 3px solid darkslateblue;
  width: 70vw;
  margin-bottom: 2%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  color: black;
  background-image: url("https://images.unsplash.com/photo-1508614999368-9260051292e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGNvbG9yJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-size: cover;
}

.tag-list {
  align-self: center;
}

.tag-list li {
  width: fit-content;
  border: 1px solid black;
  padding: 5px 15px 5px 15px;
  border-radius: 17%;
  list-style-type: none;
  display: inline-block;
  flex-direction: row;
  background-color: white;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.question-card__question {
  font-size: larger;
  text-align: center;
}

/* .tag-list li:hover {
    transition: 1s ease;
  } */

.question-card__bookmark {
  float: right;
  margin: -55px 5px;
  /* filter: ; */
}
